@import "../../variables.css";

.main_area {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}

.CreatePost {
    background-color: white;
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backBtnContainer{
    width: 80%;
    /* border: 1px solid red; */
}

.backBtn {
    align-self:baseline;
    width: 140px;
    height: 45px;
    border-radius: 6px;
    background-color: var(--dark-brown);
    color: var(--background);
    text-align: center;
    font-family: Lexend;
    font-size: 18px;
  }
  .backBtn:active {
    background-color: #2f200a;
  }

.post_card_container {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    background-color: var(--background);
}

.postLink {
    text-decoration: none;
    color: inherit;
}
