@import "../../variables.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font: 18px 'Lexend';
    color: var(--dark-brown);
}

.categoriesContainer {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    /* justify-content: stretch; */
    /* border: 1px solid red; */
}
.all {
    width: 85px;
    height: 40px;
    background-color: var(--light-brown);
    /* text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px
}

.category {
    flex-grow: 1;
    height: 40px;
    background-color: var(--light-brown);
    font: var(--text-regulat);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
