@import "../../variables.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Lexend";
}

.post_card{
    background-color: white;
    padding: 22px 22px 5px 22px;
}

.content_area{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* border-radius: 25px;
    background-color: var(--background); */
    /* border: 1px solid red; */
}
.post_card_title{
    max-width: 90%;
    font: var(--text-title);
}

.poster_area{
    width: fit-content;
    display: flex;
    align-items: baseline;
    margin: 5px 0;
}

.poster_name{
    
    border-radius: 15px;
    /* padding: 5px 10px; */
    font: var(--text-regular);
    color: var(--dark-brown);
    margin: 0;
    width: fit-content;
    margin-right: 20px;
}
.post_time{
    font: var(--text-small);
    color: var(--inner-text-grey);
    margin: 0;
}

.post_card_content{
    font: var(--text-regular);
    color: var(--dark-grey);
    margin: 0;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.info_area{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.category_tag{
    border-radius: 20px;
    padding: 5.5px 15px;
    background-color: var(--dark-brown);
    color: var(--background);
    text-align: center;
    font: var(--text-small);
}
.data{
    display: flex;
    color: var(--inner-text-grey);
    gap: 40px;
}