:root {
    --background: #F4F3E4;
    --light-brown: #E1BC8A;
    --dark-brown: #7B5720;
    --inner-text-grey: #979696;
    --input-background: #F4F6F8;
    --dark-grey: #707070;

    --text-small: 16px 'Lexend';
    --text-regular: 22px 'Lexend';
    --text-title: 32px 'Lexend';
    
  }