@import "../../variables.css";

.selfPostContainer {
    margin-top: 60px;
    display: flex;
    /* justify-content: center; */
    flex-flow: column;
    align-items: center;
}

.selfPostTitle {
    width: 80vw;
    padding: 16px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selfPostTitleText {
    margin-left: 45px;
    font: var(--text-title);
}
.selfPostTitleInput input {
    width: 65vw;
    height: 45px;
    margin-right: 45px;
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 0;
    border-radius: 10px;
    color: var(--inner-text-grey);
    font: var(--text-small);
    padding-left: 15px;
    font-size: 14px;
}
.selfPostTitleInput input::placeholder {
    color: var(--inner-text-grey);
}

.categoryChoose {
    margin: 20px 0;
    width: 80vw;
    /* border: 1px solid red; */
}

.categoryChooseBtn {
    width: fit-content;
    padding: 2px 30px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--light-brown);
    font: var(--text-regular);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 80vw;
    padding: 30px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selfPostContentText {
    margin-left: 45px;
    align-self: flex-start;
    font: var(--text-title);
}
.selfPostContentInput textarea {
    width: 65vw;
    height: 400px;
    margin-right: 45px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 0;
    border-radius: 10px;
    color: var(--inner-text-grey);
    padding-left: 15px;
    font: var(--text-small);
    font-size: 14px;
}
.selfPostContentInput textarea::placeholder {
    color: var(--inner-text-grey);
}

.selfPostCreate {
    margin: 20px 0;
    width: 80vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
}

.selfPostCreateBtn {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--dark-brown);
    color: var(--background);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lexend;
    font-size: 18px;
}

.selfPostCreateBtn:active {
    background-color: #2f200a;
}