@import "../../variables.css";

.self-post-container {
    margin-top: 60px;
    display: flex;
    /* justify-content: center; */
    flex-flow: column;
    align-items: center;
}

.self-post-title {
    width: 80vw;
    padding: 16px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.self-post-title-text {
    margin-left: 45px;
    font: var(--text-title);
}
.self-post-title-input input {
    width: 65vw;
    height: 45px;
    margin-right: 45px;
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 0;
    border-radius: 10px;
    color: var(--inner-text-grey);
    font: var(--text-small);
    padding-left: 15px;
    font-size: 14px;
}
.self-post-title-input input::placeholder {
    color: var(--inner-text-grey);
}

.category-choose {
    margin: 20px 0;
    width: 80vw;
    /* border: 1px solid red; */
}

.category-choose-btn {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--light-brown);
    font: var(--text-regular);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 80vw;
    padding: 30px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.self-post-content-text {
    margin-left: 45px;
    align-self: flex-start;
    font: var(--text-title);
}
.self-post-content-input textarea {
    width: 65vw;
    height: 400px;
    margin-right: 45px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 0;
    border-radius: 10px;
    color: var(--inner-text-grey);
    padding-left: 15px;
    font: var(--text-small);
    font-size: 14px;
}
.self-post-content-input textarea::placeholder {
    color: var(--inner-text-grey);
}

.self-post-create {
    margin: 20px 0;
    width: 80vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
}

.self-post-create-btn {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--dark-brown);
    color: var(--background);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lexend;
    font-size: 18px;
}

.self-post-create-btn:active {
    background-color: #2f200a;
}