@import "../../variables.css";

.selfPostContainer {
    padding: 5vh 10vw 5vh 10vw;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    /* border: 1px solid red; */
    gap: 10px;
}
.backBtnContainer {
    display: flex;
}
.backBtn {
    width: 140px;
    height: 45px;
    border-radius: 6px;
    background-color: var(--dark-brown);
    color: var(--background);
    text-align: center;
    font: var(--text-regular);
    /* margin-bottom: 10px; */
    align-self: first baseline;
}
.backBtn:active {
    background-color: #2f200a;
}

.selfPostTitle {
    /* width: 80vw; */
    padding: 16px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selfPostTitleText {
    margin-left: 45px;
    font: var(--text-title);
}
.selfPostTitleInput input {
    width: 62vw;
    height: 45px;
    margin-right: 45px;
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 0;
    border-radius: 10px;
    color: var(--inner-text-grey);
    font: var(--text-small);
    padding-left: 15px;
    font-size: 14px;
}
.selfPostTitleInput input::placeholder {
    color: var(--inner-text-grey);
}

.categoryChooseBtn {
    width: fit-content;
    padding: 2px 30px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--light-brown);
    font: var(--text-regular);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryChooseSelect {
    width: fit-content;
    padding: 2px 5px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--dark-brown);
    font: var(--text-regular);
    color: var(--background);
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    text-align-last: center; /* 适用于部分浏览器 */
    text-align: -moz-center;
}

.contentContainer {
    padding: 20px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selfPostContentText {
    margin-left: 45px;
    align-self: flex-start;
    font: var(--text-title);
}
.selfPostContentInput textarea {
    width: 62vw;
    height: 400px;
    margin-right: 45px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--input-background);
    border: 0;
    border-radius: 10px;
    color: var(--inner-text-grey);
    padding-left: 15px;
    font: var(--text-small);
    font-size: 14px;
}
.selfPostContentInput textarea::placeholder {
    color: var(--inner-text-grey);
}

.postError {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    color: red;
    font: var(--text-regular);
    align-self: center;
}
.postError p {
    margin: 0;
}

.selfPostCreate {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
}

.selfPostCreateBtn {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--dark-brown);
    color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lexend;
    font-size: 18px;
}

.selfPostCreateBtn:active {
    background-color: #2f200a;
}
