@import "../../variables.css";

.loginContainer {
  width: 100%;
  height: 100vh; /* Use vh for full viewport height if the container is the outermost element */
  display: flex; /* Set display to flex to use flexbox properties */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  background: #f4f3e4;
}

.loginInnerContainer {
  width: 1000px;
  height: 540px;
  margin: auto;
  position: absolute;
  background: #e8e4ba;
  border-radius: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.loginTitle {
  margin-top: 25px;
  color: var(--Dark-Brown, #7b5720);
  text-align: center;
  font-family: "Limelight", cursive;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 50px;
  /* border: 1px solid red; */
}

.login-input-section {
  width: 525px;
  height: 78px;
  margin-bottom: 14px;
  padding-left: 15px;
  color: var(--inner-text-grey);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 25px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}

.login-input-section::placeholder {
  color: var(--inner-text-grey);
}

.signupIfNoAccount {
  margin-left: 250px;
  color: var(--inner-text-grey);
  text-align: center;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signUplink:visited {
  color: var(--dark-brown);
  text-align: center;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.signUplink:hover {
  color: #7f1f1f;
}

.login-error{
  /* align-self: center; */
  margin: 0;
  padding: 0;
  height: 20px;
  color: red;
  font-family: Lexend;
  font-size: 14px;
}

.login-error p {
  margin: 0;
}

.login-enterButton{
  align-self: center;
}

.login-enterButton button {
  width: 240px;
  height: 60px;
  margin-top: 5px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: var(--dark-brown);
  color: var(--background);
  text-align: center;
  font-family: Lexend;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-enterButton button:active {
  background-color: #2f200a;
}
